html {
    height: 100%;
    }
body {
    height: 100%;
    overflow: hidden;
    background: #99CCFF;
}
#map {
    height: 60%;
}
#map.fullScreen {
    height: 100%;
}
.zoomMapBtn {
    left: 9px !important;
    font-size: 12px;
    padding: 6px 8px 3px 8px;
}
#fullScreenMapBtn {
    top: 74px !important;
}
#centerMapBtn {
    top: 110px !important;
}
#panel {
    background: white;
    height: 40%;
}
#workOrdersContainer {
    height: 100%; 
    padding-bottom: 50px;
    overflow-y: auto;
}
.list-group-item.active {
    background: #eee !important;
    color: inherit !important;
}
.animatedArrowsContainer {
    display: block;
    width: 40px;
    background-size: 20px 20px;
}
.workOrderElement {
    padding: 0 20px;
}