html {
    height: 100%;
    }
body {
    height: 100%;
    overflow: hidden;
    background: #99CCFF;
}
#map {
    height: 60%;
}
#panel {
    background: white;
    height: 40%;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}