<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>HCI</title>
        <script src="js/mock_data_provider.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div ng-controller="appController" style="height:100%">
            <div style="display: none;">
                <button type="button" id="fullScreenMapBtn" class="btn btn-default zoomMapBtn" ng-click="toggleFullScreenMap()">
                    <span class="glyphicon" ng-class="fullScreenMap ? 'glyphicon-resize-small' : 'glyphicon-fullscreen'" aria-hidden="true"></span>
                </button>
                <button type="button" id="centerMapBtn" class="btn btn-default zoomMapBtn" ng-click="callCenterMap()">
                    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                </button>
                <button type="button" id="trafficLayerMapBtn" class="btn btn-default layerMapBtn" ng-click="toggleTrafficLayerMap()">
                    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                </button>
                <button type="button" id="bikeLayerMapBtn" class="btn btn-default layerMapBtn" ng-click="toggleBikeLayerMap()">
                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                </button>
            </div>

            <div id="map" ng-class="{'fullScreen': fullScreenMap}"></div>

            <div id="panel">
                <div style="height:40px;background:lightblue;text-align:center;">Swipe to close</div>
                <div id="workOrdersContainer" class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="workOrder in workOrders | orderBy : 'index'" ng-click="selectWorkOrder($event, workOrder.index)" ng-swipe-right="setWorkOrderStatus(workOrder, 'done')" ng-swipe-left="setWorkOrderStatus(workOrder, 'fail')" ng-class="{active: workOrder.index == selectedIndex}" >
                        <span ng-style="workOrder.index == selectedIndex && workOrder.status == workOrderStatuses.TODO && {'background-image': 'url(img/red_arrow_left.gif)'}" class="animatedArrowsContainer" style="float:left;">&nbsp;</span>
                        <span ng-style="workOrder.index == selectedIndex && workOrder.status == workOrderStatuses.TODO && {'background-image': 'url(img/green_arrow_right.gif)'}" class="animatedArrowsContainer" style="float:right;">&nbsp;</span>
                        <span class="workOrderElement">
                            {{workOrder.index}}
                            {{workOrder.name}}
                        </span>
                    </a>
                </div>
            </div>

        </div>

        <div ng-controller="orientationController" style="display: none;">
            <script type="text/ng-template" id="orientationModal.html">
                <div class="modal-body">
                    We recommend to use your device in portrait mode for a better user experience.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="dismiss()">OK</button>
                </div>
            </script>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyAxTw0x6AZatigoYXbuwD_d3R9D88vTaFQ"></script>
        <script src="js/controllers.js"></script>
    </body>
</html>