<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HCI</title>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div ng-controller="appController" style="height:100%">
            <div id="map"></div>
            <div id="panel">
                <div ng-repeat="marker in markers | orderBy : 'title'">
                    <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
                </div>
            </div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?language=en"></script>
        <script src="js/controller.js"></script>
    </body>
</html>